
h1{
    color: red;
}
*{
    color: blue;
}
button{
    color: brown;
    background-color: wheat;
}
#hed1{
    color:blue;
}
#hed2{
    color: chocolate;
}
#hed3{
    color: aqua;
}
.myclass{
    color: magenta;
}