body {
    text-align: center;
}
#container {
    width: 800px;
    
    display: flex;
    flex-direction: column-reverse;
} 
div {
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px double black;
    color: white;
}
#box1 {
    background-color: aqua;
}
#box2 {
    background-color: pink;
}
#box3 {
    background-color: darkkhaki;
}
#box4 {
    background-color: indianred;
}
#box5 {
    background-color: slateblue;
}