body {
    text-align: center;
}
#container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
} 
div {
    height: 50px;
    width: 150px;
    display: inline-block;
    border: 2px double black;
    color: white;
}
#box1 {
    background-color: aqua;
}
#box2 {
    background-color: pink;
}
#box3 {
    background-color: darkkhaki;
}
#box4 {
    background-color: indianred;
}
#box5 {
    background-color: slateblue;
}