/* div {
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 5px double black;
    display: inline-block;
}
#box1 {
    position: static;
    background-color: red;
}
#box2 {
    position: relative;
    top: 100px;
    left: 25px;
    background-color: green;
}
#box3 {
    position: sticky;
    top: 0px;
    left: 15px;
    background-color: rgb(236, 77, 77);
    
}
#box4 {
    position: fixed;
    left: 0;
    top: 0;
    width: 7vw;
}
*/
div {
    height: 100px;
    
    border: 3px double white;
    display: inline-block;
    background-color: aqua;
    color: white;
    border-radius: 50%;
    text-align: center;
}
#box1 {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: blue;
    width: 50vw;
    z-index: 1;
}
#box2 {
    position: sticky;
    top: 0px;
    left: 4vw;
    background-color: green;
    width: 50vw;
    z-index: 3;
}
#box3 {
    position: sticky;
    top: 0px;
    left: 8vw;
    background-color: red;
    width: 50vw;
    z-index: 2;
}
#box4 {
    position: sticky;
    top: 0px;
    left: 12vw;
    background-color: blueviolet;
    width: 50vw;
    z-index: 1;
}
#box5 {
    position: sticky;
    top: 0px;
    left: 16vw;
    background-color: gray;
    width: 50vw;
    z-index: 4;
}
#box6 {
    position: fixed;
    bottom: 0px;
    left: 20vw;
    background-color: rebeccapurple;
    width: 50vw;
    z-index: 5;
}











